CRON_SECRET=
DATABASE_URL=
MIKROTIK_HOST=
MIKROTIK_PASSWORD=
MIKROTIK_PORT=
MIKROTIK_USERNAME=
MPESA_CERTIFICATE_PASSWORD=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_INITIATOR_PASSWORD=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_TILL_NUMBER=
OPENROUTER_API_KEY=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
RADIUS_ACCT_PORT=
RADIUS_AUTH_PORT=
RADIUS_SECRET=
RADIUS_SERVER_HOST=
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=